<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>谢文奇的个人博客</title>
        <link rel="stylesheet" href="css/blog.css">
        <script src="http://cdn.bootcss.com/remarkable/1.7.1/remarkable.min.js"></script>
    </head>
    <body>
      <div class="banner">
        <div class="title"><a href="/blog">VinciX 的博客</a><span class="subtitle"></span></div>
      </div>
      <div class="left-aside">
        <nav>
          <div class="touxiang">
            <img src="img/team/img-2.jpg" alt="">
            <p>Font-end Developer</p>
          </div>
          <div class="personal-info">
            <div class="home">
              <a href="/blog">博客列表</a>
              <a href="http://xiewenqi.cc">个人主页</a>
            </div>
            <div class="link">
              <a href="https://github.com/VinciXie"><img src="img/blog/github.png" alt="github"></a>
              <a href="/resume"><img src="img/blog/ic_resume.png" alt="简历"></a>
            </div>
          </div>
          <!-- <ul>
          <li class="active">首页</li>
          <li>随笔</li>
          <li>代码</li>
          <li>方法论</li>
        </ul> -->
      </nav>
    </div>
      <div class="wrap">
        <div class="main">
          <div class="blogMain">
            <header>
              首页
            </header>
            <hr>
            <article class="none">
            </article>
            <div class="blog-list">
              <div class="blog-list-item">
                <div data-id="${id}">${title}</div>
                <img src="" alt="">
                <time>${time}</time>
              </div>
            </div>
            <aside class="">
              <div class="aside-header">
                最近更新
              </div>
              <div class="aside-list">

              </div>
            </aside>
          </div>
        </div>
    <script src="js/blogMain.js"></script>
</body>
</html>
