<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>个人网站</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap3.css">
    <link rel="stylesheet" href="css/style1.css">
  </head>
  <body>
    <!-- navbar start -->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">VinciX</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a title="team" href="#about">About</a></li>
  					<li><a title="skills" href="#skills">Skills</a></li>
  					<li><a title="blog" href="#blog">Blog</a></li>
  					<li><a title="contact" href="#contact">Contact</a></li>
  					<li><a href="page.html">Page</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- navbar end -->
    <!-- Header area -->
    <div id="header-wrapper" class="header-slider">
    	<header class="clearfix">
    	<div class="logo">
    		<img src="img/logo-image.png" alt="" />
    	</div>
    	<div class="container">
    		<div class="row">
    			<div class="span12">
    				<div id="main-flexslider" class="flexslider">
    					<ul class="slides">
    						<li>
    						<p class="home-slide-content"><strong>creative</strong> and passion</p>
    						</li>
    						<li>
    						<p class="home-slide-content">explore new <strong>territory</strong></p>
    						</li>
    						<li>
    						<p class="home-slide-content">from new <strong>start</strong></p>
    						</li>
    					</ul>
    				</div>
    				<!-- end slider -->
    			</div>
    		</div>
    	</div>
    	</header>
    </div>
    <!-- spacer section -->

    <script src="js/jquery.js" charset="utf-8"></script>
    <script src="js/jquery-3.1.1.js" charset="utf-8"></script>
    <script src="js/bootstrap3.js" charset="utf-8"></script>
    <!-- nav -->
    <script src="js/jquery.scrollTo.js"></script>
    <script src="js/jquery.nav.js"></script>

    <!-- localScroll -->
    <script src="js/jquery.localscroll-1.2.7-min.js"></script>
    <!-- flexslider -->
    <script src="js/jquery.flexslider.js"></script>

    <!-- inview -->
    <script src="js/inview.js"></script>
    <!-- animation -->
    <script src="js/animate.js"></script>
    <!-- twitter -->
    <script src="js/jquery.tweet.js"></script>
    <!-- contact form -->
    <script src="js/validate.js"></script>
    <!-- custom functions -->
    <script src="js/custom.js"></script>  </body>
</html>
