<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>谢文奇的个人网站</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="谢文奇">
<!-- css -->
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<!-- skin color -->
<link href="color/default.css" rel="stylesheet">
<!--[if lt IE 7]>
	<link href="css/font-awesome-ie7.css" type="text/css" rel="stylesheet">
<![endif]-->

<link rel="shortcut icon" href="img/favicon.ico">
</head>
<body>
<!-- navbar -->
<div class="navbar-wrapper">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<!-- Responsive navbar -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
				<h1 class="brand"><a href="index.html" tppabs="#">VinciX</a></h1>
				<!-- navigation -->
				<nav class="pull-right nav-collapse collapse">
				<ul id="menu-main" class="nav">
					<li><a title="about" href="#about">关于</a></li>
					<li><a title="works" href="#works">技能</a></li>
					<li><a title="blog" href="#blog">博客</a></li>
					<!-- <li><a title="contact" href="#contact">联系</a></li> -->
					<li><a href="/demo">demo</a></li>
				</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- Header area -->
<div id="header-wrapper" class="header-slider">
	<header class="clearfix">
	<div class="logo">
		<img src="img/logo-image.png" alt="" />
	</div>
	<div class="container">
		<div class="row">
			<div class="span12">
				<div id="main-flexslider" class="flexslider">
					<ul class="slides">
						<li>
						<p class="home-slide-content"><strong>creative</strong> and passion</p>
						</li>
						<li>
						<p class="home-slide-content">explore new <strong>territory</strong></p>
						</li>
						<li>
						<p class="home-slide-content">from new <strong>start</strong></p>
						</li>
					</ul>
				</div>
				<!-- end slider -->
			</div>
		</div>
	</div>
	</header>
</div>
<!-- spacer section -->
<section class="spacer green">
<div class="container">
	<div class="row">
		<div class="span6 alignright flyLeft">
			<blockquote class="large">
				 Brain is the new sexy <cite>Sharlock</cite>
			</blockquote>
		</div>
		<div class="span6 aligncenter flyRight">
			<i class="icon-coffee icon-10x"></i>
		</div>
	</div>
</div>
</section>
<!-- end spacer section -->
<!-- section: team -->
<section id="about" class="section">
<div class="container">
	<div style="text-align: center;">
		<img class="team-thumb img-circle" src="img/team/img-2.jpg" alt="" />
	</div>
	<h4>我是谁</h4>
	<div class="row">
		<div class="span4 offset1">
			<div>
				<h2>一个<strong>前端</strong>工程师</h2>
				<p>
					来自湖北，坐标上海，传统行业到互联网行业，小城市到大城市，希望跟上时代的步伐，遇见那不可知的未来。
				</p>
			</div>
		</div>
		<div class="span5 offset1">
			<div class="aligncenter">
				<img src="img/icons/creativity.png" alt="" />
			</div>
		</div>
	</div>
</div>
<!-- /.container -->
</section>
<!-- end section: team -->

<!-- section: works -->
<section id="works" class="section">
<div class="container clearfix">
	<h4>我的技能</h4>
	<!-- portfolio filter -->
	<div class="row">
		<div id="filters" class="span12">
			<ul class="clearfix">
				<li><a href="#" data-filter="*" class="active">
				<h5>All</h5>
				</a></li>
				<li><a href="#" data-filter=".fontend">
				<h5>前端</h5>
				</a></li>
				<li><a href="#" data-filter=".backend">
				<h5>后端</h5>
				</a></li>
				<li><a href="#" data-filter=".framework">
				<h5>框架</h5>
				</a></li>
				<li><a href="#" data-filter=".others">
				<h5>其他</h5>
				</a></li>
			</ul>
		</div>
		<!-- END PORTFOLIO FILTERING -->
	</div>
	<div class="row">
		<div class="span12">
			<div id="portfolio-wrap">
				<!-- portfolio item -->
				<div class="portfolio-item grid fontend">
					<div class="portfolio">
						<a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
						<img src="img/works/1.png" alt="" />
						<div class="portfolio-overlay">
							<div class="thumb-info">
								<h5>HTML5</h5>
								<i class="icon-plus icon-2x"></i>
							</div>
						</div>
						</a>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- portfolio item -->
				<div class="portfolio-item grid print fontend">
					<div class="portfolio">
						<a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
						<img src="img/works/2.png" alt="" />
						<div class="portfolio-overlay">
							<div class="thumb-info">
								<h5>CSS3</h5>
								<i class="icon-plus icon-2x"></i>
							</div>
						</div>
						</a>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- portfolio item -->
				<div class="portfolio-item grid fontend backend">
					<div class="portfolio">
						<a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
						<img src="img/works/3.png" alt="" />
						<div class="portfolio-overlay">
							<div class="thumb-info">
								<h5>ECMAscript6</h5>
								<i class="icon-plus icon-2x"></i>
							</div>
						</div>
						</a>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- portfolio item -->
				<div class="portfolio-item grid fontend">
					<div class="portfolio">
						<a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
						<img src="img/works/4.png" alt="" />
						<div class="portfolio-overlay">
							<div class="thumb-info">
								<h5>DOM/BOM</h5>
								<i class="icon-plus icon-2x"></i>
							</div>
						</div>
						</a>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- portfolio item -->
				<div class="portfolio-item grid fontend framework">
					<div class="portfolio">
						<a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
						<img src="img/works/5.png" alt="" />
						<div class="portfolio-overlay">
							<div class="thumb-info">
								<h5>jQuery</h5>
								<i class="icon-plus icon-2x"></i>
							</div>
						</div>
						</a>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- portfolio item -->
				<div class="portfolio-item grid backend">
					<div class="portfolio">
						<a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
						<img src="img/works/6.png" alt="" />
						<div class="portfolio-overlay">
							<div class="thumb-info">
								<h5>Node.js</h5>
								<i class="icon-plus icon-2x"></i>
							</div>
						</div>
						</a>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- portfolio item -->
				<div class="portfolio-item grid framework">
					<div class="portfolio">
						<a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
						<img src="img/works/7.png" alt="" />
						<div class="portfolio-overlay">
							<div class="thumb-info">
								<h5>Electron</h5>
								<i class="icon-plus icon-2x"></i>
							</div>
						</div>
						</a>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- portfolio item -->
				<div class="portfolio-item grid framework">
					<div class="portfolio">
						<a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
						<img src="img/works/8.png" alt="" />
						<div class="portfolio-overlay">
							<div class="thumb-info">
								<h5>Bootstrap</h5>
								<i class="icon-plus icon-2x"></i>
							</div>
						</div>
						</a>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- portfolio item -->
				<div class="portfolio-item grid others">
					<div class="portfolio">
						<a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
						<img src="img/works/9.png" alt="" />
						<div class="portfolio-overlay">
							<div class="thumb-info">
								<h5>Wabpack</h5>
								<i class="icon-plus icon-2x"></i>
							</div>
						</div>
						</a>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- portfolio item -->
				<div class="portfolio-item grid others">
					<div class="portfolio">
						<a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
						<img src="img/works/10.png" alt="" />
						<div class="portfolio-overlay">
							<div class="thumb-info">
								<h5>Sass</h5>
								<i class="icon-plus icon-2x"></i>
							</div>
						</div>
						</a>
					</div>
				</div>
				<!-- end portfolio item -->
			</div>
		</div>
	</div>
</div>
</section>
<!-- spacer section -->
<section class="spacer bg3">
<div class="container">
	<div class="row">
		<div class="span12 aligncenter flyLeft">
			<blockquote class="large">
				I am a smart and hard-working Web Font-end Developer, now I'm hunting for a job. Could you tell me that if I am excellent as you want.
			</blockquote>
		</div>
		<div class="span12 aligncenter flyRight">
			<i class="icon-rocket icon-10x"></i>
		</div>
	</div>
</div>
</section>
<!-- end spacer section -->
<!-- section: blog -->
<section id="blog" class="section">
<div class="container">
	<h4>我的博客</h4>
	<!-- Three columns -->
	<div class="row">
		<div class="span3">
			<div class="home-post">
				<div class="post-image">
					<img class="max-img" src="img/blog/img1.png" alt="" />
				</div>
				<div class="post-meta">
					<i class="icon-file icon-2x"></i>
					<span class="date">2017年2月20日</span>
					<!-- <span class="tags"><a href="#">Design</a>, <a href="#">News</a></span> -->
				</div>
				<div class="entry-content">
					<h5><strong><a href="/blog#1">个人网站</a></strong></h5>
					<p>博客页面部分还是先打算做成 SPA（单页应用）, 点击文章标题发送 ajax，从后端取得数据后，通过 DOM 操作在页面插入新内容，不刷新页面</p>
					<a href="/blog#1" class="more">Read more</a>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="home-post">
				<div class="post-image">
					<img class="max-img" src="img/blog/img2.png" alt="" />
				</div>
				<div class="post-meta">
					<i class="icon-file icon-2x"></i>
					<span class="date">2017年2月26日</span>
					<!-- <span class="tags"><a href="#">Design</a>, <a href="#">Blog</a></span> -->
				</div>
				<div class="entry-content">
					<h5><strong><a href="/blog#2">基于 electron 的桌面级视频播放器</a></strong></h5>
					<p>
						html 页面部分，左边播放区，右边播放列表区，左边播放区下方有播放控制栏。实现播放器软件的常规功能。
					</p>
					<a href="/blog#2" class="more">Read more</a>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="home-post">
				<div class="post-image">
					<img class="max-img" src="img/blog/img3.png" alt="" />
				</div>
				<div class="post-meta">
					<i class="icon-file icon-2x"></i>
					<span class="date">2017年3月8日</span>
					<!-- <span class="tags"><a href="#">Design</a>, <a href="#">Tips</a></span> -->
				</div>
				<div class="entry-content">
					<h5><strong><a href="/blog#3">爬虫 + 数据可视化</a></strong></h5>
					<p>Node.js 写爬虫，使用其中 request, cheerio 和 fs 模块，爬取全国 AQI（空气质量指数），然后再用 Echarts 框架进行数据可视化</p>
					<a href="/blog#3" class="more">Read more</a>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="home-post">
				<div class="post-image">
					<img class="max-img" src="img/blog/img4.png" alt="" />
				</div>
				<div class="post-meta">
					<i class="icon-file icon-2x"></i>
					<span class="date">2017年3月9日</span>
					<!-- <span class="tags"><a href="#">News</a>, <a href="#">Tutorial</a></span> -->
				</div>
				<div class="entry-content">
					<h5><strong><a href="/blog#4">HTTP 协议的理解</a></strong></h5>
					<p>http协议包含很多内容，网上的教程说清楚的不多，需要一点点总结，主要是理解，从浏览器的地址栏输入域名开始，到页面渲染出来所发生的过程。</p>
					<a href="/blog#4" class="more">Read more</a>
				</div>
			</div>
		</div>
	</div>
	<div class="blankdivider30"></div>
	<div class="aligncenter">
		<a href="blog" class="btn btn-large btn-theme" target="_blank">More blog post</a>
	</div>
</div>
</section>
<!-- spacer section -->
<!-- <section class="spacer bg2">
<div class="container">
	<div class="row">
		<div class="span12">
			<div class="aligncenter">
				<div id="tweet">
				</div>
			</div>
		</div>
	</div>
</div>
</section> -->
<!-- end spacer section -->
<!-- section: contact -->
<!-- <section id="contact" class="section green">
<div class="container">
	<h4>Get in Touch</h4>
	<p>
		如果您对我的网站或博客内容有任何意见或建议，您可以
	</p>
	<div class="blankdivider30">
	</div>
	<div class="row">
		<div class="span12">
			<div class="cform" id="contact-form">
				<div id="sendmessage">
					 Your message has been sent. Thank you!
				</div>
				<form action="contact/contact.php" method="post" class="contactForm">
					<div class="row">
						<div class="span6">
							<div class="field your-name">
								<input type="text" name="your-name" placeholder="Your Name" class="cform-text" size="40" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" />
								<div class="validation">
								</div>
							</div>
							<div class="field your-email">
								<input type="text" name="your-email" placeholder="Your Email" class="cform-text" size="40" data-rule="email" data-msg="Please enter a valid email" />
								<div class="validation">
								</div>
							</div>
							<div class="field subject">
								<input type="text" name="subject" placeholder="Subject" class="cform-text" size="40" data-rule="maxlen:4" data-msg="Please enter at least 8 chars of subject" />
								<div class="validation">
								</div>
							</div>
						</div>
						<div class="span6">
							<div class="field message">
								<textarea name="message" class="cform-textarea" cols="40" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
								<div class="validation">
								</div>
							</div>
							<input type="submit" value="Send message" class="btn btn-theme pull-left">
						</div>
					</div>
				</form>
			</div>
		</div>
		./span12 -->
	<!-- </div>
</div>
</section> -->
<footer>
<div class="container">
	<div class="row">
		<div class="span6 offset3">
			<ul class="social-networks">
				<!-- <li><a href="#"><i class="icon-circled icon-bgdark icon-instagram icon-2x"></i></a></li>
				<li><a href="#"><i class="icon-circled icon-bgdark icon-twitter icon-2x"></i></a></li>
				<li><a href="#"><i class="icon-circled icon-bgdark icon-dribbble icon-2x"></i></a></li>
				<li><a href="#"><i class="icon-circled icon-bgdark icon-pinterest icon-2x"></i></a></li> -->
				<li><a href="https://github.com/VinciXie"><i class="icon-circled icon-bgdark icon-github icon-2x"></i></a></li>
			</ul>
			<p class="copyright">Copyright &copy; 2017.VinciX.</p>
		</div>
	</div>
</div>
<!-- ./container -->
</footer>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>
<!-- jQuery -->
<script src="js/index/jquery.js"></script>
<!-- nav -->
<script src="js/index/jquery.scrollTo.js"></script>
<!-- <script src="js/index/jquery.nav.js"></script> -->
<!-- localScroll -->
<script src="js/index/jquery.localscroll-1.2.7-min.js"></script>
<!-- bootstrap -->
<script src="js/index/bootstrap.js"></script>
<!-- prettyPhoto -->
<script src="js/index/jquery.prettyPhoto.js"></script>
<!-- works scripts -->
<script src="js/index/isotope.js"></script>
<!-- flexslider -->
<script src="js/index/jquery.flexslider.js"></script>
<!-- inview -->
<script src="js/index/inview.js"></script>
<!-- animation -->
<!-- <script src="js/index/animate.js"></script> -->
<!-- twitter -->
<!-- <script src="js/index/jquery.tweet.js"></script> -->
<!-- contact form -->
<!-- <script src="js/index/validate.js"></script> -->
<!-- custom functions -->
<script src="js/index/custom.js"></script>
</body>
</html>
