<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>页面切换</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="/css/resume.css">
</head>
<body>
	<div id="container" data-PageSwitch>
		<div class="sections">
			<div class="section active" id="section0">
				<div class="intro">
					<img src="img/myself.jpg" alt="">
					<h1 class="title">谢文奇</h1>
					<div class="content">
						<h3>前端工程师</h3>
						<p>Brainy is the new sexy</p>
						<p>szqq602@163.com</p>
					</div>
				</div>
			</div>
			<div class="section" id="section1">
				<div class="intro">
					<h2 class="title">职业技能</h2>
					<div class="flexbox">
						<div class="skill">
							<img src="" alt="">
							<h4>HTML\CSS</h4>
							<p>HTML5和语义化的HTML</p><p>CSS3实现较复杂的布局和动画</p><p>适应移动端的响应式开发</p><p>兼容性处理有了解</p>
						</div>
						<div class="skill">
							<img src="" alt="">
							<h4>ECMAscript</h4>
							<p>原生JavaScript编程</p><p>使用ECMAscript6的新语法</p><p>相关的后处理工具</p><p>可以实现手写库</p>
						</div>
						<div class="skill">
							<img src="" alt="">
							<h4>DOM\BOM</h4>
							<p>了解http协议</p><p>使用AJAX和BOM实现SPA（单页Web应用）</p><p>了解AngularJS</p>
						</div>
					</div>
					<div class="flexbox">
						<div class="skill">
							<img src="" alt="">
							<h4>框架</h4>
							<p>jQuery和Bootstrap</p><p>预处理用Sass</p><p>了解React框架</p><p>可以使用React构建页面</p>
						</div>
						<div class="skill">
							<img src="" alt="">
							<h4>Node.js</h4>
							<p>Express搭建后端程序与数据库交互</p><p>了解数据结构与算法</p><p>RESTful API，个人网站，node.js的爬虫</p><p>常见的异步编程解决方案</p>
						</div>
						<div class="skill">
							<img src="" alt="">
							<h4>其他技能</h4>
							<p>使用Electron实现功能全面的桌面级HTML5播放器</p><p>可以使用Echarts进行数据可视化</p><p>可以科学上网并阅读英文文档</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section" id="section2">
				<div class="intro">
					<h2 class="title">教育背景</h2>
					<hr>
					<div><img src="" alt=""><p>学历：本科</p></div>
					<div><img src="" alt=""><p>毕业院校：武汉理工大学</p></div>
					<div><img src="" alt=""><p>毕业时间：2015年7月</p></div>
				</div>
			</div>
			<div class="section" id="section3">
				<div class="intro">
					<h2 class="title">更多相关</h2>
					<p>Brainy is the new sexy.</p>
					<div class="home"><a href="/">个人主页</a></div>
					<a href="https://github.com/VinciXie">https://github.com/VinciXie</a>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/pageswitch.js"></script>
	<!--<script type="text/javascript">
	$("#container").PageSwitch({
		direction : "horizontal"
	});
	</script>-->
</body>
</html>
